/*This part is for the columning*/
.uneven-columns{
margin-top: 20px;
display: flex;
flex-wrap: wrap;
}

.left{
    width: 65%;
    padding-left: 100px;
}

.right{
    width: 25rem;
}

.viviplayer{
    height : 500px;
    width : 850px;
    padding-left: 100px;
    background-color: beige;
}

/*Style for cards*/
.card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #444444;
}

.card-style{
    margin: 10px;
    width: 95%;
    height: 100%;
    font-size: 10pt;
    background-color: white;
    color: black;
}

.wrapper {
    background-color: transparent;
    border-radius: 2px;
    box-sizing: border-box;
    height: 300px;
    left: 50%;
    margin: -150px 0 0 -150px;
    position: relative;
    top: 50%;
    width: 300px;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 50px;
    left:30%;
    margin: -25px 0 0 -100px;
    padding: 10px 0px;
    position: relative;
    top: 50%;
    width: 250px;
}

input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #AAA;
}

/* This part is for the Tab Cards*/

.tab-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab-content {
    display: none;
    padding: 20px 0 0;
}

label {
    display: inline-block;
    padding: 0 25px;
    font-weight: 600;
}

#tab1:checked~#content1{
    display: block;
}

#tab2:checked~#content2{
    display: block;
}